*.json

*.jsonl

*.jpg

*.model

*.ipynb_checkpoints

*.csv

*.yaml

wandb/*

logs/*

.ipynb_checkpoints/*

lightning_logs/*

ticket/*

cord/*

Fine_tune_Donut_on_a_custom_dataset_(CORD)_with_PyTorch_Lightning.ipynb